<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
          navigation: true,
          navigationPosition: 'right',
        });
    });
  </script>
</head>

<body>
  <div id="fullpage">
    <div class="section intro"><div class="center-column"><%= introduction %></div></div>
    <div class="section prepare"><div class="center-column"><%= prepare %></div></div>
    <div class="section prepare"><div class="center-column"><%= install_bosh_lite %></div></div>
    <div class="section prepare"><div class="center-column"><%= install_bosh_cli %></div></div>
    <div class="section prepare"><div class="center-column"><%= deploy %></div></div>
    <div class="section prepare"><div class="center-column"><%= create_release %></div></div>
  </div>
</body>
</html>